


<h2 class="flex items-center justify-between">

    <span class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">
        Hello, {{ currentUser()?.getEmail() }}
    </span>

    <div class="flex items-center gap-2">
        <button type="button" mat-flat-button (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Add
        </button>
    
        <button type="button" mat-flat-button (click)="logout()" >
            Exit
        </button>
    </div>
</h2>

@for (item of ordersList(); track item.id) {

    <app-order [order]="item" (deletedOrder)="deletedOrder($event)" (updated)="updatedOrder($event)" ></app-order>

} @empty {

    <div>There are no orders.</div>

}
