/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "tailwindcss";

@include mat.core();

$angular-material-3-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary:    mat.$azure-palette,
      tertiary:   mat.$blue-palette,
    ),
    typography: (
        plain-family: Roboto,
        brand-family: Montserrat
    ),
    density: (
        scale: 0
    )
  )
);

:root {

  @include mat.all-component-themes($angular-material-3-theme);
}

html, body { 
    width: 100vw; 
    height: 100vh; 
    padding: 0; 
    margin: 0; 
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
